*{
    box-sizing: border-box;
}
body{
    background-color: #EFF3F8;
    margin: 0;
    padding: 0;
    max-height: 100%;
}

html,
body,
#root,
.container {
    height: 100%;
    display: flex;
    justify-content: center;
}
/*.loader{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
}
.movies{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 70px;
    width: 80%;
}






